.git
.cache
.venv
.pytest_cache
.mypy_cache
.ruff_cache
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
build/
dist/
*.egg-info/
.uv-cache
docs
codeclone.egg-info
.pre-commit-config.yaml
uv.lock
extensions
